*/.idea
**/.idea
__pycache__/
*.py[cod]
*.so
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**geckodriver.log
tmp/*
test_cases/test_pytest_practice/*
*.log
report.html
reports/*
*.css